# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: XSCALEROS_5.2.100.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from xms_client.api_client import ApiClient


class DfsTiersApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_dfs_tier_pools(self, dfs_tier_id, body, **kwargs):  # noqa: E501
        """add_dfs_tier_pools  # noqa: E501

        add dfs tier pools  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_dfs_tier_pools(dfs_tier_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :param DfsTierAddPoolReq body: pools info (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_dfs_tier_pools_with_http_info(dfs_tier_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_dfs_tier_pools_with_http_info(dfs_tier_id, body, **kwargs)  # noqa: E501
            return data

    def add_dfs_tier_pools_with_http_info(self, dfs_tier_id, body, **kwargs):  # noqa: E501
        """add_dfs_tier_pools  # noqa: E501

        add dfs tier pools  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_dfs_tier_pools_with_http_info(dfs_tier_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :param DfsTierAddPoolReq body: pools info (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_tier_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_dfs_tier_pools" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_tier_id' is set
        if ('dfs_tier_id' not in params or
                params['dfs_tier_id'] is None):
            raise ValueError("Missing the required parameter `dfs_tier_id` when calling `add_dfs_tier_pools`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_dfs_tier_pools`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_tier_id' in params:
            path_params['dfs_tier_id'] = params['dfs_tier_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-tiers/{dfs_tier_id}:add-pools', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsTierResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dfs_tier(self, dfs_tier_id, **kwargs):  # noqa: E501
        """get_dfs_tier  # noqa: E501

        Get dfs tier  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dfs_tier(dfs_tier_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_dfs_tier_with_http_info(dfs_tier_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dfs_tier_with_http_info(dfs_tier_id, **kwargs)  # noqa: E501
            return data

    def get_dfs_tier_with_http_info(self, dfs_tier_id, **kwargs):  # noqa: E501
        """get_dfs_tier  # noqa: E501

        Get dfs tier  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dfs_tier_with_http_info(dfs_tier_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_tier_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dfs_tier" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_tier_id' is set
        if ('dfs_tier_id' not in params or
                params['dfs_tier_id'] is None):
            raise ValueError("Missing the required parameter `dfs_tier_id` when calling `get_dfs_tier`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_tier_id' in params:
            path_params['dfs_tier_id'] = params['dfs_tier_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-tiers/{dfs_tier_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsTierResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_dfs_tiers(self, **kwargs):  # noqa: E501
        """list_dfs_tiers  # noqa: E501

        List dfs tiers  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dfs_tiers(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str cluster_id: cluster id
        :param int dfs_rootfs_id: dfs rootfs id
        :param str q: query param of search
        :param str sort: sort param of search
        :return: DfsTiersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_dfs_tiers_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_dfs_tiers_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_dfs_tiers_with_http_info(self, **kwargs):  # noqa: E501
        """list_dfs_tiers  # noqa: E501

        List dfs tiers  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dfs_tiers_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str cluster_id: cluster id
        :param int dfs_rootfs_id: dfs rootfs id
        :param str q: query param of search
        :param str sort: sort param of search
        :return: DfsTiersResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'cluster_id', 'dfs_rootfs_id', 'q', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_dfs_tiers" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'cluster_id' in params:
            query_params.append(('cluster_id', params['cluster_id']))  # noqa: E501
        if 'dfs_rootfs_id' in params:
            query_params.append(('dfs_rootfs_id', params['dfs_rootfs_id']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-tiers/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsTiersResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_dfs_tier_pools(self, dfs_tier_id, body, **kwargs):  # noqa: E501
        """remove_dfs_tier_pools  # noqa: E501

        remove dfs tier pools  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_dfs_tier_pools(dfs_tier_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :param DfsTierRemovePoolReq body: pools info (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.remove_dfs_tier_pools_with_http_info(dfs_tier_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_dfs_tier_pools_with_http_info(dfs_tier_id, body, **kwargs)  # noqa: E501
            return data

    def remove_dfs_tier_pools_with_http_info(self, dfs_tier_id, body, **kwargs):  # noqa: E501
        """remove_dfs_tier_pools  # noqa: E501

        remove dfs tier pools  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_dfs_tier_pools_with_http_info(dfs_tier_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_tier_id: dfs tier id (required)
        :param DfsTierRemovePoolReq body: pools info (required)
        :return: DfsTierResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_tier_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_dfs_tier_pools" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_tier_id' is set
        if ('dfs_tier_id' not in params or
                params['dfs_tier_id'] is None):
            raise ValueError("Missing the required parameter `dfs_tier_id` when calling `remove_dfs_tier_pools`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_dfs_tier_pools`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_tier_id' in params:
            path_params['dfs_tier_id'] = params['dfs_tier_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-tiers/{dfs_tier_id}:remove-pools', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsTierResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
