# coding: utf-8

"""
    XMS API

    XMS is the controller of distributed storage system  # noqa: E501

    OpenAPI spec version: XSCALEROS_5.2.100.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from xms_client.api_client import ApiClient


class DfsSmbSharesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_dfs_smb_share_ac_ls(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """add_dfs_smb_share_ac_ls  # noqa: E501

        Add dfs smb share acls  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_dfs_smb_share_ac_ls(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: dfs smb share id (required)
        :param DfsSMBShareAddACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.add_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
            return data

    def add_dfs_smb_share_ac_ls_with_http_info(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """add_dfs_smb_share_ac_ls  # noqa: E501

        Add dfs smb share acls  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.add_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: dfs smb share id (required)
        :param DfsSMBShareAddACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_dfs_smb_share_ac_ls" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `add_dfs_smb_share_ac_ls`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_dfs_smb_share_ac_ls`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}:add-acls', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_dfs_smb_share(self, body, **kwargs):  # noqa: E501
        """create_dfs_smb_share  # noqa: E501

        Create dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_dfs_smb_share(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param DfsSMBShareCreateReq body: share info (required)
        :param bool allow_path_create: allow create path when not existed
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_dfs_smb_share_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_dfs_smb_share_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_dfs_smb_share_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_dfs_smb_share  # noqa: E501

        Create dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_dfs_smb_share_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param DfsSMBShareCreateReq body: share info (required)
        :param bool allow_path_create: allow create path when not existed
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'allow_path_create']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_dfs_smb_share" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_dfs_smb_share`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'allow_path_create' in params:
            query_params.append(('allow_path_create', params['allow_path_create']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_dfs_smb_share(self, dfs_smb_share_id, **kwargs):  # noqa: E501
        """delete_dfs_smb_share  # noqa: E501

        delete dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dfs_smb_share(dfs_smb_share_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param bool force: force delete or not
        :param bool with_directory: also delete directory
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_dfs_smb_share_with_http_info(dfs_smb_share_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_dfs_smb_share_with_http_info(dfs_smb_share_id, **kwargs)  # noqa: E501
            return data

    def delete_dfs_smb_share_with_http_info(self, dfs_smb_share_id, **kwargs):  # noqa: E501
        """delete_dfs_smb_share  # noqa: E501

        delete dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_dfs_smb_share_with_http_info(dfs_smb_share_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param bool force: force delete or not
        :param bool with_directory: also delete directory
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id', 'force', 'with_directory']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_dfs_smb_share" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `delete_dfs_smb_share`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501
        if 'with_directory' in params:
            query_params.append(('with_directory', params['with_directory']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dfs_smb_share(self, dfs_smb_share_id, **kwargs):  # noqa: E501
        """get_dfs_smb_share  # noqa: E501

        Get dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dfs_smb_share(dfs_smb_share_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_dfs_smb_share_with_http_info(dfs_smb_share_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dfs_smb_share_with_http_info(dfs_smb_share_id, **kwargs)  # noqa: E501
            return data

    def get_dfs_smb_share_with_http_info(self, dfs_smb_share_id, **kwargs):  # noqa: E501
        """get_dfs_smb_share  # noqa: E501

        Get dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_dfs_smb_share_with_http_info(dfs_smb_share_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dfs_smb_share" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `get_dfs_smb_share`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_dfs_smb_shares(self, **kwargs):  # noqa: E501
        """list_dfs_smb_shares  # noqa: E501

        List dfs smb shares  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dfs_smb_shares(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str cluster_id: cluster id
        :param int dfs_rootfs_id: dfs rootfs id
        :param int dfs_gateway_group_id: dfs gateway group id
        :param str q: query param of search
        :param str path: related dfs path
        :param str sort: sort param of search
        :return: DfsSMBSharesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.list_dfs_smb_shares_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_dfs_smb_shares_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_dfs_smb_shares_with_http_info(self, **kwargs):  # noqa: E501
        """list_dfs_smb_shares  # noqa: E501

        List dfs smb shares  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.list_dfs_smb_shares_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param int limit: paging param
        :param int offset: paging param
        :param str cluster_id: cluster id
        :param int dfs_rootfs_id: dfs rootfs id
        :param int dfs_gateway_group_id: dfs gateway group id
        :param str q: query param of search
        :param str path: related dfs path
        :param str sort: sort param of search
        :return: DfsSMBSharesResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['limit', 'offset', 'cluster_id', 'dfs_rootfs_id', 'dfs_gateway_group_id', 'q', 'path', 'sort']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_dfs_smb_shares" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'cluster_id' in params:
            query_params.append(('cluster_id', params['cluster_id']))  # noqa: E501
        if 'dfs_rootfs_id' in params:
            query_params.append(('dfs_rootfs_id', params['dfs_rootfs_id']))  # noqa: E501
        if 'dfs_gateway_group_id' in params:
            query_params.append(('dfs_gateway_group_id', params['dfs_gateway_group_id']))  # noqa: E501
        if 'q' in params:
            query_params.append(('q', params['q']))  # noqa: E501
        if 'path' in params:
            query_params.append(('path', params['path']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBSharesResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_dfs_smb_share_ac_ls(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """remove_dfs_smb_share_ac_ls  # noqa: E501

        remove dfs smb share acls  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_dfs_smb_share_ac_ls(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: dfs smb share id (required)
        :param DfsSMBShareRemoveACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.remove_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
            return data

    def remove_dfs_smb_share_ac_ls_with_http_info(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """remove_dfs_smb_share_ac_ls  # noqa: E501

        remove dfs smb share acls  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.remove_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: dfs smb share id (required)
        :param DfsSMBShareRemoveACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_dfs_smb_share_ac_ls" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `remove_dfs_smb_share_ac_ls`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `remove_dfs_smb_share_ac_ls`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}:remove-acls', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_dfs_smb_share(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """update_dfs_smb_share  # noqa: E501

        Update dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dfs_smb_share(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param DfsSMBShareUpdateReq body: share info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_dfs_smb_share_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_dfs_smb_share_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
            return data

    def update_dfs_smb_share_with_http_info(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """update_dfs_smb_share  # noqa: E501

        Update dfs smb share  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dfs_smb_share_with_http_info(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param DfsSMBShareUpdateReq body: share info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_dfs_smb_share" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `update_dfs_smb_share`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_dfs_smb_share`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_dfs_smb_share_ac_ls(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """update_dfs_smb_share_ac_ls  # noqa: E501

        Update dfs smb share ACL  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dfs_smb_share_ac_ls(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param DfsSMBShareUpdateACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, **kwargs)  # noqa: E501
            return data

    def update_dfs_smb_share_ac_ls_with_http_info(self, dfs_smb_share_id, body, **kwargs):  # noqa: E501
        """update_dfs_smb_share_ac_ls  # noqa: E501

        Update dfs smb share ACL  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_dfs_smb_share_ac_ls_with_http_info(dfs_smb_share_id, body, async=True)
        >>> result = thread.get()

        :param async bool
        :param int dfs_smb_share_id: share id (required)
        :param DfsSMBShareUpdateACLsReq body: share acls info (required)
        :return: DfsSMBShareResp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dfs_smb_share_id', 'body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_dfs_smb_share_ac_ls" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dfs_smb_share_id' is set
        if ('dfs_smb_share_id' not in params or
                params['dfs_smb_share_id'] is None):
            raise ValueError("Missing the required parameter `dfs_smb_share_id` when calling `update_dfs_smb_share_ac_ls`")  # noqa: E501
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_dfs_smb_share_ac_ls`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dfs_smb_share_id' in params:
            path_params['dfs_smb_share_id'] = params['dfs_smb_share_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['tokenInHeader', 'tokenInQuery']  # noqa: E501

        return self.api_client.call_api(
            '/dfs-smb-shares/{dfs_smb_share_id}:update-acls', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DfsSMBShareResp',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
